div#nrno-banner
  img(src=contenido.imagen)
  ul.menu
    - each banner, index in contenido.banners
      li
        a(href="#{index}",title=banner.titulo) #{banner.titulo}
  article
    - each banner, index in contenido.banners
      section
        - if (index==0)
          h2 Introducción
        - else
          h2= banner.titulo
        each parrafo, numero in banner.parrafos
          p!=parrafo
    - if (contenido.botones.length >= 1)
      div.botones
        - each boton, index in contenido.botones
          a(href=link,title=boton.titulo)= boton.titulo
          
