div#nrno-banner(class="#{contenido.id}")
  div.cont-img
    - img= glb.rdir+'/img/'+contenido.id+'/ban_'+contenido.imagen
    div.img(style="background-image:url(#{img})")
    //img.img(src="#{img}")
  - if (contenido.banners.length)
    ul#ban-menu.menu
      - each banner, index in contenido.banners
        li
          a(href="##{contenido.id+index}", onclick="show_ban.view(this,event)", title=banner.titulo)
            span!=banner.titulo
            
  - if (contenido.banners.length)
    article#ban-article.article
      - each banner, index in contenido.banners
        section.section(id="#{contenido.id+index}")
          h2!= banner.titulo
          div.inner
            - each parrafo, numero in banner.parrafos
              p!=parrafo
            
    - if (contenido.botones.length)
      div.botones
        - each boton, index in contenido.botones
          a(href=boton.link, title=boton.titulo, class=boton.tipo, onclick="show_popUp.view(this,event,'#{boton.estilo}');", target="_blank")
            span.tool-tip!= 'ver'+boton.tipo
            q.figcaption
              span!= boton.pie
          
