link(rel="stylesheet",href="#{glb.rdir}/css/style.css")
script(src="#{glb.rdir}/js/nrn-dsn.js")
div#nrno-popUp
  div.modal-cont
    a#popup-quit(onclick="show_popUp.hide(this,event)") &times;
    div#popUp-iframe
      iframe#iframe-src
      img#image-src
    div#popUp-pie
      | my ser popUp
  
ul#nrno-menu
  - each link, index in db.menu
    li
      a(href=link.link,class=link.clase)
        span!= link.titulo
