link(rel="stylesheet",href="#{glb.rdir}/css/style.css")
//script(src="#{glb.rdir}/js/jquery.min.js")
script(src="#{glb.rdir}/js/nrn-dsn.js")
div#nrno-logo
  a(href="/antonio-narino-presentacion")
    i.back-img
    img(src="#{glb.rdir}/img/narino_logob.png")
div#nrno-popUp(onclick="show_popUp.hide_back(this,event)")
  div.modal-cont
    a#popup-quit(onclick="show_popUp.hide(this,event)") &times;
    div#popUp-iframe
      iframe#iframe-src(allowfullscreen="true")
      img#image-src(onclick="util.tgClass(this,'zoom')")
    div#popUp-pie
  
ul#nrno-menu(class="hide-des #{contenido.id}")
  - each link, index in db.menu
    li(class=link.clase)
      a(href=link.link,class=link.clase)
        span.text!= link.titulo
