div#nrno-libros
  ul
    - each libro, indice in contenido.libros
      li
        - img= glb.rdir+'/img/'+contenido.id+'/'
        a(href="#{img + libro.archivo}.pdf")
          h3.tit= libro.titulo
          figure
            span.imagen
              div hola
              //div.img(style="background-image:url#{img}min_#{libro.archivo}.jpg)")
              img.img(src="#{img}min_#{libro.archivo}.jpg")
            figcaption= libro.pie
            span.hover= libro.hover
          em= libro.autor
        
