div#nrno-libros
  ul
    - each libro, indice in contenido.libros
      li
        - img= glb.rdir+'/img/'+contenido.id+'/'
        a(href="#{img}min_#{libro.archivo}.jpg",onclick="show_popUp.view(this,event);",target="_blank")
          figure.figure
            span.imagen
              //div.img(style="background-image:url#{img}min_#{libro.archivo}.jpg)")
              img.img(src="#{img}min_#{libro.archivo}.jpg")
            figcaption.figcaption
              span= libro.pie
            figcaption.hover
              span= libro.hover
          em= libro.autor
          p.tit= libro.titulo
        
