div#nrno-libros
  ul
    - if (contenido.libros.length)
      - each libro, indice in contenido.libros
        
        //define carpeta de imagen
        - img= glb.rdir+'/img/'+contenido.id+'/'
        
        //define src imagen
        - if ( libro.archivo == '' )
          - img_src = '/img/img.png'
        - else
          - img_src = img+'min_'+libro.archivo+'.jpg'
        
        //define vinculo para popup
        - if (libro.url != '' )
          - href= libro.url
        -else
          - href = img_src
          
        li
          a(id="libro_#{libro.archivo}", href="#{href}", onclick="show_popUp.view(this,event,'#{libro.estilo}');", target="_blank")
            figure.figure
              span.imagen
                  
                //div.img(style="background-image:url(#{img_src})")
                img.img(src=img_src)
                
              figcaption.figcaption
                span!= libro.pie
              figcaption.hover
                span!= libro.hover
                
            - if (libro.titulo!="")
              p.tit!= libro.titulo
        
