extends layout
block banner
  include header
block content
  include banner_presentacion

  div#contenido
    include social
    h2.titulo_presentacion Presentación: los legados de Nariño
    div.minimize_script
      p Hoy parece obvio que todos nacemos libres e iguales en dignidad y derechos, sin distinción de raza, género, orientación sexual, origen social, nacionalidad o cualquier otra condición. También parece obvio afirmar que tenemos derecho a la libertad de opinión y de expresión; a la libertad de pensamiento, de conciencia y de religión; a que se presuma nuestra inocencia mientras no se pruebe lo contrario, y a no ser sometidos a esclavitud o a tratos crueles o degradantes.
      p.bracket Pero esas ideas que hoy nos parecen obvias tienen una historia y al mismo tiempo <i>son</i> y <i>hacen</i> historia, una historia que pierde sus múltiples orígenes siglos atrás y que quizá para el mundo occidental encuentra en la Independencia de los Estados Unidos y en la Revolución francesa sus antecedentes más significativos y perdurables. Para el caso colombiano, la impresión clandestina de los <i>Derechos del hombre y del ciudadano</i> en diciembre de 1793, por parte de Antonio Nariño, implicó el comienzo de un incierto y difícil proceso que aún no termina: el del reconocimiento, sin distinción, de la dignidad, la igualdad y la libertad humanas entre nosotros.
      p Nariño contribuyó como pocos a la instalación de un nuevo lenguaje de derechos y de libertades individuales, de separación y equilibrio de poderes y de transparencia de la justicia. No solo introdujo el lenguaje de la ciudadanía moderna en un espacio que entonces estaba organizado a partir del sentido del honor y de los privilegios (tarea por sí sola de enorme trascendencia), sino que también contribuyó a modelar una nueva sensibilidad política en el ciudadano deliberante, amante de la reflexión crítica, capaz de pensar por sí mismo, preocupado por los problemas de la comunidad política y guiado por un fuerte sentido del “bien común” y por el “amor a la patria”.
      p La iniciativa de fundar, casi que de manera simultánea, una biblioteca-librería, una tertulia para el debate y un taller de imprenta, y que publicara clandestinamente la <i>Declaración de los derechos del hombre y del ciudadano</i> , además de dar cuenta de su tremenda inquietud intelectual, permite ver hasta qué punto Nariño se constituyó en el modelo de sujeto político que él mismo pretendió forjar: un ciudadano ilustrado, un ciudadano lector y patriota.
      p Han pasado más de 200 años desde que Nariño dejó su impronta indeleble en los destinos del país y trazó, junto con otros hombres y mujeres, los cimientos del Estado de derecho entre nosotros: se selló la Independencia de la Corona española; se estableció la república con toda la potencia de su pensamiento constitucional; Colombia suscribió la Declaración Universal de los Derechos Humanos en el momento mismo de su elaboración, y el pacto social fue actualizado mediante la Constitución de 1991. Hoy, en el marco de los nuevos horizontes de paz, nada más oportuno que rehacer nuestro bagaje de ideas y prácticas sobre el orden político y enriquecer el lenguaje de los derechos y de las responsabilidades ciudadanas.
      p Es necesario volver sobre el pensamiento de Nariño para redescubrir allí un conjunto de recursos útiles y pertinentes para renovar nuestra propia imaginación política; para entender cómo forjó un ideal de libertad para todos y para sí mismo, y cómo, al igual que esa multitud de pequeños grandes héroes anónimos, se empeñó en intervenir su propia realidad y en construir un nuevo mundo político. Su preocupación por dotar de sentido la noción de ‘ciudadanía’ desde los últimos años del orden colonial, por citar solo un ejemplo, sirve para entender no solo cómo Nariño fue esencialmente un hacedor de ciudadanías en un sentido muy cercano a nuestra sensibilidad contemporánea, sino que también permite establecer un diálogo con nuestro presente, desde el cual es posible indagar la capacidad de esta misma noción para englobar las diferentes subjetividades políticas actuales.
      p La conmemoración de los 250 años de su natalicio es una oportunidad para poner entre paréntesis nuestras certezas presentes y volver sobre Nariño, para preguntarnos con él acerca de problemas históricos que, lejos de estar anclados en un pasado lejano e irrecuperable, constituyen la agenda de nuestro agitado presente. Esta exposición virtual no tiene otro propósito más que restituir la potencia de las ideas y de las realizaciones del Nariño de antes de las Independencias y ofrecer una comprensión renovada de su figura y de las soluciones que nos legó frente a los desafíos planteados por la política de su época –para los cuales no había soluciones dadas de antemano–. Esperamos que revisitar los escritos de Nariño nos permita recuperar la historicidad de su mundo político y volver un poco más legible el proceso de institución de las comunidades políticas que una vez fuimos y de las que somos herederos.
    
    div#chrono
      a.go-left(onclick="goL.left(this,'click')",onmouseover="goL.left(this,'over')",onmouseout="goL.left(this,'out')")
      a.go-right(onclick="goL.right(this,'click')",onmouseover="goL.right(this,'over')",onmouseout="goL.right(this,'out')")
      div.envol
        h2
          img(src="#{glb.rdir}/img/presentacion/tit_cronologia.png")
        ul.nrno-times
          - each time, index in db.chrono
            li(class="line_#{index}")
              a
                strong!= time.year
                small!= time.date
                span!= time.description
      
      
    h2.titulo_presentacion Créditos
    p.creditos
      span.blq
        strong Coordinación general 
        | Camilo Páez, 
        small Coordinador del Grupo de Colecciones | 
      span.blq
        strong Agenda académica 
        | Sergio Zapata, 
        small Responsable del Equipo de Actividad Cultural y Divulgación | 
      span.blq
        strong Edición y coordinación editorial 
        | María Alejandra Pautassi, 
        small Editora de Contenidos Digitales del Equipo de Proyectos Digitales | 
      span.blq
        strong  Investigación 
        | Alexánder Chaparro Silva, 
        small Universidad Nacional de Colombia | 
      span.blq
        strong  Asistentes de investigación 
        | Robinson López, 
        small Grupo de Colecciones | 
      span.blq
        strong  Corrección de estilo 
        | Danny Cuéllar Aragón, 
        small Equipo de Proyectos Digitales | 
      span.blq
        strong  Diseño 
        | Miguel Ángel Guzmán Camargo, 
        small Equipo de Actividad Cultural y Divulgación | 
      span.blq
        strong  Diseño front-end 
        | Óscar Ortiz |
      span.blq
        strong  Programación 
        | Jesús Romero |
      span.blq
        strong  Digitalización  
        | Sandra Angulo |
      span.blq
        strong  Coordinadora del Grupo de Conservación 
        | Daniela Fernández, 
        small Responsable del Taller de Digitalización
      span.blq
        strong  *Agradecimientos especiales 
      span.blq
        | Daniel Castro 
        small Director del Museo Nacional de Colombia, 
      span.blq
        | Friederich Marcks 
        small  Grupo de Conservación, 
      span.blq
        | Sebastián Díaz 
        small Curador Mapoteca Digital, BNC. 
      
    .cred_antes
      p.creditos
        strong *Un prototipo para la visualización de esta exposición virtual fue desarrollado el 1 de septiembre de 2015 en el Laboratorio Digital de la Biblioteca Nacional de Colombia. En él participaron varios empleados de la Biblioteca. 
        br
        | Danny Cuéllar Aragón, Maria Isabel Gualteros, Robinson López, Ingrid Mora, David Ramírez Ordóñez, Sebastián Ortiz, Nicolás Pernett, Anthony Picón, Alejandra Soriano. 
